
<h2 class="title">Create team</h2>

<div class="create-team">
  <form name="f" [formGroup]="createTeamForm"class="create-team-form">
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input formControlName="name" type="text" matInput placeholder="My team" value="">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Size</mat-label>
        <input formControlName="size" type="number" matInput placeholder="0" value="">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Select a boss</mat-label>
      <mat-select formControlName="boss">
        <mat-option>--</mat-option>
        <ng-container *ngFor="let availableBoss of availableBosses">
          <mat-option [value]="availableBoss">{{availableBoss.name}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-raised-button (click)="openEmployeesDialog()">Choose employees</button>
    <button mat-raised-button color="primary" (click)="createTeam()">Create</button>
  </div>
</div>
