.employees-container {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;

  .content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .employee-view {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
  }

  .employees-table {
    margin-top: 10px;
    width: 80%;
  }

  .kpi-section {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3f51b5;
    color: aliceblue;
  }
}
