
span {
  z-index: -1;
  position: absolute;
  left: 3%;
  top: 55%;
  font-size: 40em;
  color: #eceef1;
  font-weight: 900;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;

  .router-container {
    height: 70%;
  }

  .kpi-container {
    display: flex;
    justify-content: center;

    .kpi-section {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #3f51b5;
      color: aliceblue;
    }
  }
}

